/node_modules
#/storage/*.key
/storage/framework/cache
#/public/assets
#/storage/framework/sessions
#/storage/framework/views
/vendor
/build
/.idea
.env
.env.backup
.composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
seb.code-workspace
node_modules
